* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  background-color: black;
  color: aliceblue;
}
main {
  display: flex;
  flex-direction: column;
  /* background-color: aliceblue; */
}
.line {
  height: 4px;
  width: 90%;
  background-color: crimson;
}
.flex {
  display: flex;
  justify-content: center;

  align-items: center;
}
.box {
  height: 100px;
  width: 100px;
  margin: 10px;
  background-color: rgb(14, 14, 89);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
